.button {
   padding: 6px 10px;
   border-radius: 20px;
   border: none;
   background: $primary;
   color: $white;
   cursor: pointer;
   @include fontSize(14, 22, normal);

   @include respondTo(tablet) {
      @include fontSize(11, 20, normal);
   }
}