.scroll-top {
   background: $primary;
   border: 10px solid $secondary;
   box-sizing: border-box;
   border-radius: 100%;
   width: 100px;
   height: 100px;
   position: fixed;
   bottom: 2rem;
   right: 2rem;
   z-index: 99;
   filter: drop-shadow(4px 5px 10px rgba(0, 0, 0, 0.25));
   cursor: pointer;

   @include respondTo(tablet) {
      border: 5px solid $secondary;
      width: 50px;
      height: 50px;
   }

   img {
      margin: auto;

      @include absolute(0, 0, 0, 0);

      @include respondTo(tablet) {
         width: 50%;
      }
   }

   &.top {
      animation: rotate-arrow-up 0.5s linear forwards;

      @include keyframes(rotate-arrow-up) {
         from {
            transform: rotate(-90deg);
         }

         to {
            transform: rotate(0deg);
         }
      }
   }

   &.back {
      animation: rotate-arrow-back 0.5s linear forwards;

      @include keyframes(rotate-arrow-back) {
         from {
            transform: rotate(90deg);
         }

         to {
            transform: rotate(0deg);
         }
      }
   }
}