.section.hero {
   height: 100vh;
   margin: auto;
   @include flexCenterColumn;

   >header {
      position: relative;
      @include flexCenter;

      @include respondTo(tablet) {
         @include flexCenterColumn;
      }
   }

   .hero-title {
      font-weight: bold;
      color: $primary;
      text-align: right;
      @include fontSize(60, 70, normal);

      @include respondTo(tablet) {
         text-align: left;
         @include fontSize(40, 55, normal);
      }
   }

   .hero-sub {
      font-weight: normal;
      color: $primary;
      @include fontSize(40, 40, normal);

      @include respondTo(tablet) {
         text-align: right;
         @include fontSize(30, 45, normal);
      }
   }

   .line-hero {
      width: 5px;
      height: 300px;
      background-color: $secondary;
      margin: 0 30px;

      @include respondTo(tablet) {
         margin: 10px 0;
         height: 3px;
         width: 100%;
      }
   }

   ul {
      margin-top: 90px;
      list-style: none;
      @include flexCenter;

      li {
         text-transform: uppercase;
         padding-bottom: 0.4rem;
         color: $primary;
         cursor: pointer;
         @include fontSize(24, 24, normal);

         @include respondTo(tablet) {
            @include fontSize(15, 15, normal);
         }

         &:not(:last-child) {
            margin-right: 25px;
         }

         &:hover {
            border-bottom: 2px solid $secondary;
         }
      }
   }
}