.section-projects {
   padding-bottom: 5rem;
}


.projects {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 40px 40px;

   @include respondTo(tablet) {
      gap: 20px 0;
      grid-template-columns: 1fr;
   }

   &-card {
      background: $white;
      box-shadow: 0px 0px 25px rgba($color: $black, $alpha: 0.05);
      border-radius: 40px;
      padding: 32px 35px;
      @include flexCenterColumn;

      @include respondTo(tablet) {
         margin: 0 20px;

         img {
            width: 30%;
         }
      }

      &:hover {
         box-shadow: 0px 0px 25px 3px rgba($color: $secondary, $alpha: 0.5);
      }

      &-text {
         margin: 45px 0 15px 0;

         @include respondTo(tablet) {
            margin: 20px 0 15px 0;
         }
      }

      h3 {
         font-weight: normal;
         color: $primary;
         @include fontSize(14, 22, normal);

         @include respondTo(tablet) {
            text-align: center;
            @include fontSize(12, 20, normal);
         }
      }

      button {
         margin-top: 30px;
         margin-bottom: 1rem;
         @include flexCenterVert;

         div {
            margin-left: 12px;
         }

         &:hover {
            div {
               animation: rotating 0.4s linear forwards;

               @include keyframes(rotating) {
                  from {
                     transform: rotate(0deg);
                     color: $white;
                     margin-left: 12px;
                  }

                  to {
                     transform: rotate(360deg);
                     color: $secondary;
                     margin-left: 3rem;
                  }
               }
            }
         }
      }
   }
}