.section-projects {
   padding-bottom: 5rem;
}

.project-detail {
   padding: 2rem 0;

   @include respondTo(tablet) {
      padding: 20px;
   }

   &-img {
      padding: 0 150px;
      margin-bottom: 50px;
      @include flexBetween;
      flex-direction: row-reverse;

      @include respondTo(tablet) {
         padding: 0 20px;
      }

      >img {
         width: 170px;

         &:first-child {
            width: 60px;
         }
      }
   }

   &-carousel {
      position: relative;

      .background {
         margin: auto;
         z-index: -1;
         width: 1140px;
         height: 366px;
         background-color: $primary;
         border-radius: 20px;
         @include absolute(0, 0, 0, 0)
      }
   }
}

.projects {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 40px 40px;

   @include respondTo(tablet) {
      gap: 20px 0;
      grid-template-columns: 1fr;
   }

   &-card {
      background: $white;
      box-shadow: 0px 0px 25px rgba($color: $black, $alpha: 0.05);
      border-radius: 40px;
      padding: 32px 35px;
      @include flexCenterColumn;

      @include respondTo(tablet) {
         margin: 0 20px;

         img {
            width: 30%;
         }
      }

      &:hover {
         box-shadow: 0px 0px 25px 3px rgba($color: $secondary, $alpha: 0.5);
      }

      &-text {
         margin: 45px 0 15px 0;

         @include respondTo(tablet) {
            margin: 20px 0 15px 0;
         }
      }

      h3 {
         font-weight: normal;
         color: $primary;
         @include fontSize(14, 22, normal);

         @include respondTo(tablet) {
            text-align: center;
            @include fontSize(12, 20, normal);
         }
      }

      button {
         margin-top: 30px;
         margin-bottom: 1rem;
         @include flexCenterVert;

         div {
            margin-left: 12px;
         }

         &:hover {
            div {
               animation: rotating 0.4s linear forwards;

               @include keyframes(rotating) {
                  from {
                     transform: rotate(0deg);
                     color: $white;
                     margin-left: 12px;
                  }

                  to {
                     transform: rotate(360deg);
                     color: $secondary;
                     margin-left: 3rem;
                  }
               }
            }
         }
      }
   }
}

.under-construction {
   position: relative;
   padding: 0 5rem;
   @include flexCenterColumn;
   align-items: flex-start;
   margin: auto;
   height: 50vh;

   @include respondTo(tablet) {
      padding: 0;
      max-width: 100vw;
      overflow: hidden;
   }

   &-title {
      position: relative;
      z-index: 3;
      margin: 0 auto;
      font-weight: bold;
      color: $primary;
      text-align: left;
      width: 525px;
      @include fontSize(48, 72, 0.3);

      @include respondTo(tablet) {
         width: auto;
         font-weight: normal;
         @include fontSize(28, 28, 0.2);
      }
   }

   &-subtitle {
      position: relative;
      z-index: 3;
      font-weight: 600;
      width: 520px;
      margin: 0 auto;
      color: $primary;
      @include fontSize(22, 33, 0.12);

      @include respondTo(tablet) {
         width: auto;
         text-align: center;
         margin-top: 10px;
         font-weight: normal;
         @include fontSize(14, 18, 0.32);
      }
   }

   .construction {
      position: absolute;
      width: 352px;
      height: 352px;
      right: 25rem;
      top: 2rem;
      opacity: 0.4;
      z-index: 0;

      @include respondTo(tablet) {
         top: 0;
         right: -10rem;
      }
   }

   .warning {
      position: absolute;
      left: 28rem;
      top: 15rem;
      opacity: 0.4;
      width: 122px;
      height: 122px;
      z-index: 0;

      @include respondTo(tablet) {
         top: 9rem;
         left: -3rem;
      }
   }
}