.section {
   position: relative;
   padding: 20px 155px;

   @include respondTo(tablet) {
      padding: 20px;
   }

   svg {
      z-index: -1;
      @include absolute(3rem, auto, auto, 0);

      @include respondTo(tablet) {
         display: none
      }
   }

   header {
      .section-title {
         @include flexCenterVert;

         .title-line {
            width: 6px;
            height: 120px;
            background-color: $secondary;
            color: $secondary;

            @include respondTo(tablet) {
               height: 60px;
               width: 4px;
            }
         }

         h1 {
            margin-left: 25px;
            color: $primary;
            text-transform: uppercase;
            @include fontSize(50, 50, normal);

            @include respondTo(tablet) {
               @include fontSize(25, 30, normal);

            }
         }
      }

      h2 {
         max-width: 500px;
         font-weight: 500;
         margin-top: 13px;
         margin-left: (25px+6px);
         margin-bottom: 60px;
         color: $primary;
         @include fontSize(18, 27, 0.04);

         @include respondTo(tablet) {
            font-weight: normal;
            margin-top: 0;
            margin-bottom: 20px;
            @include fontSize(12, 18, 0.04);
         }
      }

   }
}